In [6]:
import numpy as np
import pandas as pd
import math

In [7]:
data=pd.read_csv("laptop.csv",header=0)
print data
headers=list(data)
print headers

         age income student creadite rating buy laptop
0        <30      h       n               f          n
1        <30      h       n               e          n
2   31 to 40      h       n               f          y
3        >40      m       n               f          y
4        >40      l       y               f          y
5        >40      l       y               e          n
6   31 to 40      l       y               e          y
7        <30      m       n               f          n
8        <30      l       y               f          y
9        >40      m       y               f          y
10       <30      m       y               e          y
11  31 to 40      m       n               e          y
12  31 to 40      h       y               f          y
13       >40      m       n               e          n
['age', 'income', 'student', 'creadite rating', 'buy laptop']

In [8]:
def classify(atribute,value):
    return pd.pivot_table(data,index=data[atribute],columns=[headers[-1]],values=[value],aggfunc='count')

In [4]:
atribute_value=[]
for i in headers:
    s=list(set(data[i]))
    atribute_value.append(s)
atribute_value

[['>40', '31 to 40', '<30'],
 ['h', 'm', 'l'],
 ['y', 'n'],
 ['e', 'f'],
 ['y', 'n']]

In [5]:
summary=[]
for i in range(0,len(headers)-1):
    if(headers[i]==headers[-2]):
        tmp_data_frame=classify(headers[i],headers[1])
        tmp_data_frame=tmp_data_frame[headers[1]]
        #print (summary[-1]['total'])
    else:
        tmp_data_frame=classify(headers[i],headers[i+1])
        tmp_data_frame=tmp_data_frame[headers[i+1]]
    summary.append(tmp_data_frame)
    summary[-1]=summary[-1].fillna(0)
    summary[-1]['total']=summary[-1][atribute_value[-1][0]]+summary[-1][atribute_value[-1][1]]
        
summary[0]

buy laptop    n    y  total
age
31 to 40    0.0  4.0    4.0
<30         3.0  2.0    5.0
>40         2.0  3.0    5.0

In [6]:
def total_info():
    y=len([i for i in data[headers[-1]] if i=='y'])/float(len(data))
    n=len([i for i in data[headers[-1]] if i=='n'])/float(len(data))
    return (y*math.log(y,2)+n*math.log(n,2))*-1

In [7]:
def info(i):
    ans=0
    for j in atribute_value[i]:
        p1=summary[i]['n'][j]/float(summary[i]['total'][j])
        p2=summary[i]['y'][j]/float(summary[i]['total'][j])
        p=summary[i]['total'][j]/float(sum(summary[i]['total']))
        if(p1==0):
            p1=0
        else:
            p1=p1*math.log(p1,2)
        if(p2==0):
            p2=0
        else:
            p2=p2*math.log(p2,2)
        ans=ans+(p1+p2)*p
    return -1*ans

In [8]:
for i in range(0,len(headers)-1):
    print "information gain for {} is:-" .format(headers[i])
    print total_info()-info(i)
    #print("information gain for {} is {} " .format((headers[i],total_info()-info(i))))

information gain for age is:-
0.246749819774
information gain for income is:-
0.029222565659
information gain for student is:-
0.151835501362
information gain for creadite rating is:-
0.0481270304083