In [32]:
import numpy as np
import pandas as pd

In [33]:
data=pd.read_csv("laptop.csv",header=0)
print data
headers=list(data)
print headers

         age income student creadite rating buy laptop
0        <30      h       n               f          n
1        <30      h       n               e          n
2   31 to 40      h       n               f          y
3        >40      m       n               f          y
4        >40      l       y               f          y
5        >40      l       y               e          n
6   31 to 40      l       y               e          y
7        <30      m       n               f          n
8        <30      l       y               f          y
9        >40      m       y               f          y
10       <30      m       y               e          y
11  31 to 40      m       n               e          y
12  31 to 40      h       y               f          y
13       >40      m       n               e          n
['age', 'income', 'student', 'creadite rating', 'buy laptop']

In [34]:
def classify(atribute,value):
    return pd.pivot_table(data,index=data[atribute],columns=[headers[-1]],values=[value],aggfunc='count')

In [35]:
atribute_value=[]
for i in headers:
    s=list(set(data[i]))
    atribute_value.append(s)
atribute_value

[['>40', '31 to 40', '<30'],
 ['h', 'm', 'l'],
 ['y', 'n'],
 ['e', 'f'],
 ['y', 'n']]

In [36]:
summary=[]
for i in range(0,len(headers)-1):
    if(headers[i]==headers[-2]):
        tmp_data_frame=classify(headers[i],headers[1])
        tmp_data_frame=tmp_data_frame[headers[1]]
        #print (summary[-1]['total'])
    else:
        tmp_data_frame=classify(headers[i],headers[i+1])
        tmp_data_frame=tmp_data_frame[headers[i+1]]
    summary.append(tmp_data_frame)
    summary[-1]=summary[-1].fillna(0)
    summary[-1]['total']=summary[-1][atribute_value[-1][0]]+summary[-1][atribute_value[-1][1]]
        
summary

[buy laptop    n    y  total
 age
 31 to 40    0.0  4.0    4.0
 <30         3.0  2.0    5.0
 >40         2.0  3.0    5.0, buy laptop  n  y  total
 income
 h           2  2      4
 l           1  3      4
 m           2  4      6, buy laptop  n  y  total
 student
 n           4  3      7
 y           1  6      7, buy laptop       n  y  total
 creadite rating
 e                3  3      6
 f                2  6      8]

In [37]:
def for_yes(input_list):
    y=len([i for i in data[headers[-1]] if i=='y'])
    ans=y/float(len(data))
    for i in range(0,len(headers)-1):
        ans=ans*(summary[i]['y'][input_list[i]]/float(summary[i]['total'][input_list[i]]))
    return ans

In [38]:
def for_no(input_list):
    n=len([i for i in data[headers[-1]] if i=='n'])
    ans=n/float(len(data))
    for i in range(0,len(headers)-1):
        ans=ans*(summary[i]['n'][input_list[i]]/float(summary[i]['total'][input_list[i]]))
    return ans

In [39]:
input_list=[]
for i in range(0,len(headers)-1):
    input_list.append(raw_input("Enter {} as {}" .format(headers[i],atribute_value[i])))
y=for_yes(input_list)    
print ("probability for classified to be yes is {}" .format(y))
print ("probability for classified to be no is {}" .format(for_no(input_list)))

Enter age as ['>40', '31 to 40', '<30']<30
Enter income as ['h', 'm', 'l']l
Enter student as ['y', 'n']n
Enter creadite rating as ['e', 'f']e
probability for classified to be yes is 0.0413265306122
probability for classified to be no is 0.015306122449